<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>WP Exam</title>
</head>
<body>

<div>
    <!-- The form below should invoke the method NewsController.showNews -->
    <form id="filter-form">
        <label for="price">Price</label>
        <input id="price" type="number" name="price"/>
        <label for="type">Type</label>
        <select id="type" name="type">
            <option value="">All</option>
            <!-- For each type you should have one <option> like below  -->
            <option th:each="type: ${types}" th:value="${type}" th:text="${type}"> [type]</option>
        </select>
        <button id="filter" type="submit">Filter</button>
    </form>
    <div>
        <!-- NewsController.showAdd -->
            <a href="/news/add" class="add-item" sec:authorize="hasRole('ROLE_ADMIN')">
                Add news
            </a>
    </div>
    <table>
        <tr>
            <th>Match name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Type</th>
            <th>Category</th>
            <th>Likes</th>
            <th>Actions</th>
        </tr>
        <!-- For each news you should have one <tr> like below -->
        <tr class="item" th:each="article: ${news}">
            <td th:text="${article.name}">[news.name]</td>
            <td th:text="${article.description}">[news.description]</td>
            <td th:text="${article.price}">[news.price]</td>
            <td th:text="${article.type}">[news.type]</td>
            <td th:text="${article.category}">[news.category]</td>
            <td th:text="${article.likes}"> [news.likes]</td>
            <td>
                    <!-- NewsController.delete -->
                    <form method="POST" th:action="@{'/news/{id}/delete' (id=${article.id})}" sec:authorize="hasRole('ROLE_ADMIN')">
                        <button type="submit" class="delete-item">Delete</button>
                    </form>
                    <!-- NewsController.showEdit -->
                    <a class="edit-item" th:href="@{'/news/{id}/edit' (id=${article.id})}" sec:authorize="hasRole('ROLE_ADMIN')">Edit</a>
                    <!-- NewsController.follow -->
                    <form method="POST" th:action="@{'/news/{id}/like' (id=${article.id})}" sec:authorize="hasRole('ROLE_USER')">
                        <button type="submit" class="like-item">Like</button>
                    </form>
            </td>
        </tr>
    </table>

</div>
<div>
    <ul id="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>
</body>
</html>
